
.row{
	margin-bottom:0px;
	margin-right:0rem;
}
#datepicker {
	position: relative;
	top: 4em;

	p{
		font-family: 'Roboto', sans-serif;
	}
	.container{
		margin-top:4vh;
		margin-bottom:4vh;
		border:1px solid $grayborder;
		border-radius:5px;
		padding-top:4vh;
		padding-left:4vh;
		padding-right:4vh;
	}
	.input-field{
		margin-top:0rem;
	}
	.btn-large{
		background-color:$maincolor;
		box-shadow:none;
		border-radius:5px;
		font-weight:bold;
		text-transform:lowercase;
		margin-top:2vh;
	}

}

//mas pruieba
.padd {
	padding: 0em 1em;
}

.exp {
	margin-top: 4em;
}
