.filters {
	padding-top:13vh;

	.fa-star{
		color:$starcolor;
	}
	.fa-bolt{
		color:$boltcolor;
		margin-right:2vh;
	}
}
.checkboxrow{
	padding:3vh;
}
.pricerange{
	padding:2vh;
}
.switchrow{
	padding:2vh;
}
.rowfiltros{
	padding:2vh;
}

.btnfilters{
	border:1px solid $grayborder;
	border-radius:5px;
}
#filtros-avanzados{
	padding:2vh;

	.fa-fire{
	 color:#FF7800;
	 margin-right:2vh;
	}
	.redbutton {
	 background-color:$maincolor;
	 color:$white;
	 border-radius:5px;	
	}
	.label{
	color:$color-base;
	}
}
//estilos jo//
#fechas{
    margin-left:2%;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $verdeboton; color: #F5F0F0;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.radio-inline{
    @include fondospan(100%, 80px, $grisclaro,7%);
    i,label{
       font-size:90%;
       vertical-align: middle;
       color:$color-base;  
    }
   
    
}
.box-check{
    margin-top:4%;
    margin-bottom:4%;
}
.segunda{
    margin-right:-7.5%;
}

[type="checkbox"] + label{
    padding-left: 21px;
}