footer{
	border-top:1px solid $grayborder;
	padding-top:4vh;

	h5 {
		margin-left:2vh;
		font-size:1em;
		font-weight:bold;
	}

	a {
		color:$colorbottomlinks;
		font-weight:bold;
	}

	select{
		margin-top:4vh;
		margin-bottom:4vh;
	}
}
.bloquemenu{
	margin-left:10vh;
}
.linksubmenu{
	margin-right:6vh;
	margin-top:7vh;
}
.fa {
	color:$colorbottomlinks;
}
.bottomlinks{
	padding-top:4vh;
}