$grayborder:#E3E3E3;
$maincolor:#FF7E82;
$color-base: #000; // color negro
$verdeboton:#00A699;//segunda pagina
$grisclaro:#D9DAD8;
$grisoscuro:#8D8E8C;
$grisletra:#5B595B;
$lighter-blue: #abe0ed;
$light-blue: #46b7d5;
$blue: #0085b2;
$orange: #FD8521;
$lightgray: #cccccc;